.div1{
    
    text-align: center;
    border: 1px solid black;
    background-color: black;
    height: 30px; 
    color: white;
    padding-top: 4px;
    position:-webkit-sticky;
    position: sticky;
    top: 0;
  
} 

Link{
    text-decoration: none;
    list-style: none;
}
.div2{
    padding-top: 10px;
    display:flex ;
    height: 60px;
    gap: 90px;
    position:-webkit-sticky;
    background-color: rgb(248,249,250);
    position:-webkit-sticky;
    position: sticky;
    top: 30px;
   
}
.icon3{
    height: 20px;
}
.input1{
    height: 36px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    width: 600px;
    background-color: rgb(255 , 255 , 255);
    border:1px solid rgb(255 , 255 , 255);
}
.button1{
    height : 41px;
    width : 130px ;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: black;
    color: white;
    border: 1px solid black;
}
.imgdiv1{
    display: flex;padding-top: 10px;
}
.div3{
    background-color: rgb(255 , 255 , 255); 
    display: flex;
    gap: 70px;
    padding-top: 15px;
    padding-left: 40px;
    height: 35px;
 
    position:-webkit-sticky;


    top: 100px;
    margin-bottom: 20px;
    position: inherit;
}
.div3 > div{
    font-size: small;
    color: rgb(108,117,125);
    font-weight: 570;
}
.dropdown1{
    display: none;
    /* position: absolute; */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}
.dropdown1 > a{
    display : block ;
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 11px;
}
.dropdown1 > a:hover{
   color: black;
 
}

#link:hover{

     text-decoration: none;
     color: rgb(61, 59, 59);
     text-shadow: rgb(128, 128, 128) 1px 1px 5px;
     cursor: pointer;
  
 }


.makeup:hover{
    text-decoration:  none;
    color: grey;
}

.makeup:hover .dropdown1{
    display : block
}

.input:hover .dropdown2{
    display : block
}
.dropdown2{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 583px;
    box-shadow: 0px 8px 16px 0px rgb(0,0,0,0.2);
    z-index: 1;
    padding-left: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
a
{
    font-family:Arial, Helvetica, sans-serif;
   color: #6c757d;
    text-decoration:none solid rgb(108, 117, 125);
    
    font-size:14px;
    
    padding:16px 0px;
    font-weight:700;
}

.textdec :hover{
    color: black;
}




