body{
    background-color:whitesmoke;
}
.main{
    height:600px;
    width:90%;
    margin:auto;
    display: flex;
    justify-content: center;
    border: 1px solid gray;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 20px;
}

.main>div:nth-child(1){
    width:43%;
    /* border: 1px solid gray; */
    margin:auto;
    justify-content: center;
    height:570px;
    padding: 0px 30px;
}
.main>div:nth-child(2){
     width:48%;
    /* border: 1px solid gray; */
   margin-top: 16px;
    height:300px;
    margin-right: 30px;
}